::selection
{
    color:#fff;
    background-color:#e9573f;
}
::-moz-selection
{
    color:#fff;
    background-color:#e9573f;

}
.navbar {
    border-radius:5px; 
    background-color:#fff;
    margin-bottom: 30px;
    margin-top: 30px;
    /*font-weight: bold;*/
    text-transform:uppercase;
    border:none;
}
.navbar a{
    color: #434a54;
    font-weight:600;
}
a.navbar-brand{
    cursor: default;
    text-transform: capitalize;
    padding: 22px;
    font-size: 25px;
    font-weight: 300;
}

.first-letter{
    color:#e9573f;
}
#main-container > .row{
    margin:0;
}

.navbar-nav {
    float: right;

}
body {
    background-image: url('../img/back6.jpg');
    background-attachment: fixed;
    color:#81878F;
    font-family: 'Open Sans';
}
#footer .box{
    margin-bottom:10px;
}
.box{
    border-radius:5px;
    background-color:#fff;
    margin-bottom:30px;
    overflow: hidden;

}
.half{
    width:50%;
    display:inline-block;
    margin:0;
    padding:0;
    float:left;
}
img{
    max-width: 100%;
}
.half img{
    width:100%;
    /*border-radius:5px 0 0 5px;*/
    /*height:100%;*/
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans';
    color:#434a54;
    margin:0;
    padding:0;
}
h1{
    font-weight: 300;
    font-size: 32px;
    padding-bottom:10px;
}
h2{
    font-weight: 300;
    font-size: 26px;
    padding-bottom:10px;
}
h3{
    font-weight: 300;
    font-size: 20px;
    padding-bottom:10px;
}

h4{
    font-weight: 300;
    font-size: 16px;
    padding-bottom:10px;
}
.article{
    padding:10px;
    padding-left:30px;
}
.article.article-equal-padding{
    padding:10px;
}
.navbar-nav>li>a {
    padding-top:25px;
    padding-bottom:25px;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #fa6f57;
    color:#fff;
}
.icon{
    font-size: 28px;
    color:#fff;
    background-color: #fa6f57;
    background-color: #e9573f;
    border-radius:5px;
    padding:5px;
    padding-top:1px;
    width:40px;
    height:40px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
@media (max-width: 768px) { 
    .half{
        width:100%;
    }
}
.middle-icon{
    position:absolute;
    /*top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg); /* IE 9 */
    /*-webkit-transform: translate(-50%, -50%) rotate(-45deg); /* Safari and Chrome */

    top: 40%;
    left: 46.7%;
    font-size: 28px;
}
.middle-icon{
    top:50%;
    left:50%;
    transform: translate(-70.71067811865475%, -70.71067811865475%) rotate(-45deg);
    -ms-transform: translate(-70.71067811865475%, -70.71067811865475%) rotate(-45deg); /* IE 9 */
    -webkit-transform: translate(-70.71067811865475%, -70.71067811865475%) rotate(-45deg); /* Safari and Chrome */
}
.icon-bar{
    background-color: #fff;
}
.navbar-toggle{
    background-color: #e9573f;
}
.rotate, .icon span{
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.rotate, .icon span{
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.middle-icon.green{
    background-color: #8cc152;
}
.middle-icon.violet{
    background-color: #967adc;
}
.middle-icon.blue{
    background-color: #4a89dc;
}
.no-margin-left{
    margin-left:0 !important;
    padding-left: 0 !important;
}
.no-margin-right{
    margin-right:0 !important;
    padding-right: 0 !important;
}
.filled, .filled h2, .filled h3{
    color:#fff;
}
.filled.green{
    background-color: #a1d36e;
}
.bordered-top.green{
    border-top:5px solid  #a1d36e;
}
.filled.violet{
    background-color: #ac94e9;
}
.bordered-top.violet{
    border-top:5px solid  #ac94e9;
}
.filled.blue{
    background-color: #55c1e7;
}
.bordered-top.blue{
    border-top:5px solid  #55c1e7;
}
.filled.orange{
    background-color: #fa6f57;
}
.bordered-top.orange{
    border-top:5px solid  #fa6f57;
}
.filled.gray{
    background-color: #ccd1d9;
}
.filled.sunflower{
    background-color: #FFCE54;
}
.bordered-top.sunflower{
    border-top:5px solid  #FFCE54;
}
.filled.pinkrose{
    background-color: #EC87c0;
}
.filled.grapefruit{
    background-color: #ED5565;
}
.filled.grapefruit.dark{
    background-color: #da4453;
}
.bordered-top.grapefruit{
    border-top:5px solid  #ED5565;
}
.filled.lavander{
    background-color: #AC92EC;
    color:#fff;
}
.filled.lavander.dark{
    background-color: #967adc;
}
.font-color.lavander{
    color:#967adc;
}
.bordered-top.lavander{
    border-top:5px solid  #AC92EC;
}
.filled.lavander h2{
    color:#fff;
}
.filled.mint{
    background-color: #48CFAD;
}
.big-icon{
    font-size:15em;
    color:#000;
    opacity:0.4;
    position:absolute;
    bottom: -55px;
    left: -33px;
}
.stats{
    font-size:15px;
    margin-bottom:8px;
}
.date{
    width:100%;
    text-align:center;
}
.description{
}
.timeline{
    text-align: center;
}
.logo{
    max-width:320px;
    max-height:300px;
    margin-bottom:10px;
}
blockquote{
    color:#fff;
}
blockquote small {
    color: #bbb;   
}
blockquote.lavander{
    border-color: #AC92EC;
}
blockquote.orange{
    border-color: #fa6f57;
}
blockquote.green{
    border-color: #a1d36e;
}
blockquote.blue{
    border-color: #55c1e7;
}
a.filled.grapefruit:hover, input.filled.grapefruit:hover{color:#fff;background-color:#da4453}
a.filled.lavander:hover, input.filled.lavander:hover{color:#fff;background-color:#967adc}
a.filled.green:hover, input.filled.green:hover{color:#fff;background-color:#8cc152}
a.filled.orange:hover, input.filled.orange:hover{color:#fff;background-color:#e9573f}
a.filled.sunflower:hover, input.filled.sunflower:hover{color:#fff;background-color:#f6bb42}
a.filled.blue:hover, input.filled.blue:hover{color:#fff;background-color:#3bafda}
a.filled.pinkrose:hover, input.filled.pinkrose:hover{color:#fff;background-color:#d770ad}
a.filled.mint:hover, input.filled.mint:hover{color:#fff;background-color:#37bc9b}

.form-control:focus {
    border-color: #8cc152;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(140,193,82,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(140,193,82,0.6);
}
.uppercase{
    text-transform: uppercase;
}
.hr{
    height:5px;
    position:relative;
}
.hr .middle-icon{
    top: 10px;
    /*left: 44.5%;*/
    transform: translate(-50%, -70.71067811865475%) rotate(-45deg);
    -ms-transform: translate(-50%, -70.71067811865475%) rotate(-45deg);
    -webkit-transform: translate(-50%, -70.71067811865475%) rotate(-45deg);
}
.usual-margin-bottom{
    margin-bottom:15px;
}
.rainbowDash {
    width: 100%;
    height: 5px;
}
.rainbowDash .green {
    background-color: #a1d36e;
}
.rainbowDash .blue {
    background-color: #55c1e7;
}
.rainbowDash .lavander {
    background-color: #AC92EC;
}
.rainbowDash .orange {
    background-color: #fa6f57;
}
.rainbowDash .green, .rainbowDash .blue, .rainbowDash .lavander, .rainbowDash .orange {
    float: left;
    width: 25%;
    height: 100%;
}
.left-icon{
    top:-13px;
    left:-23px;
    position:absolute;
}
.job-container{
    position:relative;
    margin-top:15px;
    margin-left:24px;
    padding-left:30px;
    border-left: solid 5px #AC92EC;
    padding-bottom: 10px;
    min-height: 30px;
}
strong{
    font-weight: 400;
    color: #434a54;
}
.skill{
    font-size:22px;
    color:#434a54;
    font-weight:300;
    text-align: center;
}
.navigator{
    position: fixed;
    bottom:30px;
    right:100px;
    z-index:2;
}
.alert-success {
    color: #fff;
    background-color: #a1d36e;
    border-color: #8cc152;
}
.alert-success strong, .alert-danger strong{
    color:#fff;
}
.alert-danger {
    color: #fff;
    background-color: #ED5565;
    border-color: #da4453;
}
.stats i{
    width:20px;   
    text-align:center;
}
.desc{
    max-height:300px;
    overflow-y: hidden;
}
.portfolio-image{
    overflow:hidden;
    /*height:370px;*/
    background-color: #ED5565;
}
.portfolio-image:hover img{
    /*background-color: #ED5565;*/
    opacity: 0.4;
    /*z-index: 10;*/
}